{% extends 'tapasapp/base.html' %} {% load static %} {% block sidebar %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'view_menu' %}"> Back to main </a>
</li>
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body bg-light">
          <h5 class="mb-3">Type in Dish Details:</h5>

          <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label for="dish_name" class="form-label">Name:</label>
              <input
                type="text"
                class="form-control"
                id="dish_name"
                name="dish_name"
                required
              />
            </div>

            <div class="row mb-4">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="cooking_time" class="form-label">Cook Time:</label>
                <input
                  type="number"
                  class="form-control"
                  id="cooking_time"
                  name="cooking_time"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="prep_time" class="form-label">Prep Time:</label>
                <input
                  type="number"
                  class="form-control"
                  id="prep_time"
                  name="prep_time"
                  required
                />
              </div>
            </div>

            <div>
              <button type="submit" class="btn btn-secondary">
                Add to menu
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
